<h1>スクラップ一覧</h1>

<div class="articles container mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">スクラップ名</th>
                <th scope="col">URL</th>
                <th scope="col">カテゴリ</th>
            </tr>
        </thead>
        <% @articles.each do |article| %>
            <tr>
                <td>
                    <%= link_to article.name, article_path(article) %>
                </td>
                <td>
                    <%= link_to article.url, article_path(article) %>
                </td>
                <td>
                    <% article.categories.each do |category| %>
                        <%= category.name %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>

    <div class="row justify-content-center mt-4">
        <%= link_to "スクラップの新規作成", new_article_path, class: "btn btn-outline-primary col-6" %>
    </div>
</div>
