<h1 class="">記事一覧</h1>

<div class="articles">
    <table>
        <% @articles.each do |article| %>
            <tr>
                <td>
                    <%= link_to article.name, article_path(article) %>
                </td>
                <td>
                    <%= link_to article.url, article_path(article) %>
                </td>
                <td>
                    <% article.categories.each do |category| %>
                        <%= category.name %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
